<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNA60eQM7zurwXPiP-mMs0dT8qUy4MV3c</string>
	<key>GCM_SENDER_ID</key>
	<string>251785480354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekart</string>
	<key>PROJECT_ID</key>
	<string>ekart-2ddd2</string>
	<key>STORAGE_BUCKET</key>
	<string>ekart-2ddd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251785480354:ios:95fca4a53adcb385426ffb</string>
</dict>
</plist>